.single_container {
	margin: 50px 0;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 40px;
	padding: 0 250px;
}

@media (max-width: 500px) {
	.single_container {
		padding: 0 50px;
		flex-direction: column;
	}
}

.left_section {
	
	height: 600px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left_img {
	width: 100%;
	height: 60%;
	object-fit: contain;
}

.right_section {
	flex-basis: 50%;
}

.title {
	margin: 15px 0;
	font-size: 30px;
}

.para {
	margin: 10px 0;
}

.price {
	font-size: 25px;
}

.button {
	display: flex;
	height: 3em;
	width: 100px;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee4b;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	cursor: pointer;
	border: none;
	background: #fff;
   }
   
   .button > svg {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	transition: all 0.4s ease-in;
   }
   
   .button:hover > svg {
	font-size: 1.2em;
	transform: translateX(-5px);
   }
   
   .button:hover {
	box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
	transform: translateY(-2px);
   }

   .btn_title {
	color: black;
	font-size: 15px;
	font-style: italic;
   }